server:
  port: 8082

spring:
  #  profiles:
  #    active: dev
  application:
    name: blocker

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
  zipkin:
    tracing:
      endpoint: ${MANAGEMENT_ZIPKIN_TRACING_ENDPOINT}
  tracing:
    sampling:
      probability: 1