apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-logstash
  labels:
    app: logstash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: "{{ .Values.global.logstash.image.repository }}:{{ .Values.global.logstash.tag }}"
          resources:
            requests:
              memory: {{ .Values.global.logstash.resources.requests.memory }}
              cpu: {{ .Values.global.logstash.resources.requests.cpu }}
            limits:
              memory: {{ .Values.global.logstash.resources.limits.memory }}
              cpu: {{ .Values.global.logstash.resources.limits.cpu }}
          volumeMounts:
            - name: config
              mountPath: /usr/share/logstash/config/logstash.conf
              subPath: logstash.conf
      volumes:
        - name: config
          configMap:
            name: {{ .Release.Name }}-logstash-config